/*
 * Name:    Base16 {{ scheme }}
 * Author:  {{ author }}
*/

.highlight {
  background: #{{ base00-hex }};
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #{{ base00-hex }};
  }

  .c { color: #{{ base04-hex }} } // Comment
  .err { color: #{{ base08-hex }} } // Error
  .k { color: #{{ base0E-hex }} } // Keyword
  .l { color: #{{ base09-hex }} } // Literal
  .n { color: #{{ base00-hex }} } // Name
  .o { color: #{{ base05-hex }} } // Operator
  .p { color: #{{ base00-hex }} } // Punctuation
  .cm { color: #{{ base04-hex }} } // Comment.Multiline
  .cp { color: #{{ base04-hex }} } // Comment.Preproc
  .c1 { color: #{{ base04-hex }} } // Comment.Single
  .cs { color: #{{ base04-hex }} } // Comment.Special
  .gd { color: #{{ base08-hex }} } // Generic.Deleted
  .ge { font-style: italic } // Generic.Emph
  .gh { color: #{{ base00-hex }}; font-weight: bold } // Generic.Heading
  .gi { color: #{{ base0B-hex }} } // Generic.Inserted
  .gp { color: #{{ base04-hex }}; font-weight: bold } // Generic.Prompt
  .gs { font-weight: bold } // Generic.Strong
  .gu { color: #{{ base0C-hex }}; font-weight: bold } // Generic.Subheading
  .kc { color: #{{ base0E-hex }} } // Keyword.Constant
  .kd { color: #{{ base0E-hex }} } // Keyword.Declaration
  .kn { color: #{{ base0C-hex }} } // Keyword.Namespace
  .kp { color: #{{ base0E-hex }} } // Keyword.Pseudo
  .kr { color: #{{ base0E-hex }} } // Keyword.Reserved
  .kt { color: #{{ base0A-hex }} } // Keyword.Type
  .ld { color: #{{ base0B-hex }} } // Literal.Date
  .m { color: #{{ base09-hex }} } // Literal.Number
  .s { color: #{{ base0B-hex }} } // Literal.String
  .na { color: #{{ base0D-hex }} } // Name.Attribute
  .nb { color: #{{ base00-hex }} } // Name.Builtin
  .nc { color: #{{ base0A-hex }} } // Name.Class
  .no { color: #{{ base08-hex }} } // Name.Constant
  .nd { color: #{{ base0C-hex }} } // Name.Decorator
  .ni { color: #{{ base00-hex }} } // Name.Entity
  .ne { color: #{{ base08-hex }} } // Name.Exception
  .nf { color: #{{ base0D-hex }} } // Name.Function
  .nl { color: #{{ base00-hex }} } // Name.Label
  .nn { color: #{{ base0A-hex }} } // Name.Namespace
  .nx { color: #{{ base0D-hex }} } // Name.Other
  .py { color: #{{ base00-hex }} } // Name.Property
  .nt { color: #{{ base0C-hex }} } // Name.Tag
  .nv { color: #{{ base08-hex }} } // Name.Variable
  .ow { color: #{{ base05-hex }} } // Operator.Word
  .w { color: #{{ base00-hex }} } // Text.Whitespace
  .mf { color: #{{ base09-hex }} } // Literal.Number.Float
  .mh { color: #{{ base09-hex }} } // Literal.Number.Hex
  .mi { color: #{{ base09-hex }} } // Literal.Number.Integer
  .mo { color: #{{ base09-hex }} } // Literal.Number.Oct
  .sb { color: #{{ base0B-hex }} } // Literal.String.Backtick
  .sc { color: #{{ base00-hex }} } // Literal.String.Char
  .sd { color: #{{ base04-hex }} } // Literal.String.Doc
  .s2 { color: #{{ base0B-hex }} } // Literal.String.Double
  .se { color: #{{ base09-hex }} } // Literal.String.Escape
  .sh { color: #{{ base0B-hex }} } // Literal.String.Heredoc
  .si { color: #{{ base09-hex }} } // Literal.String.Interpol
  .sx { color: #{{ base0B-hex }} } // Literal.String.Other
  .sr { color: #{{ base0B-hex }} } // Literal.String.Regex
  .s1 { color: #{{ base0B-hex }} } // Literal.String.Single
  .ss { color: #{{ base0B-hex }} } // Literal.String.Symbol
  .bp { color: #{{ base00-hex }} } // Name.Builtin.Pseudo
  .vc { color: #{{ base08-hex }} } // Name.Variable.Class
  .vg { color: #{{ base08-hex }} } // Name.Variable.Global
  .vi { color: #{{ base08-hex }} } // Name.Variable.Instance
  .il { color: #{{ base09-hex }} } // Literal.Number.Integer.Long
}
